.figure
  display: block
  font-family: 'Nunito Sans', sans-serif
  text-align: center

  +wideScreen
    padding-top: 700px
    margin: 0 auto
    max-width: 1200px

  &__title
    font-weight: bold
    padding: 20px 0

  &__line
    margin: 0 auto
    height: 3px
    width: 80px
    background: $btnColor

  &__desc
    padding: 20px 0
    font-size: 20px

#video 
  width: 100%
  height: auto
  vertical-align: middle

.video

  &__wrap
    position: relative
    max-width: 1075px
    margin-top: 50px

    &:hover
      
      & .video__controls
        position: absolute
        bottom: 0
        display: flex
        padding: .5rem 1rem
        width: 100%
        justify-content: space-between
        color: $textColor
        z-index: 5

  &__controls
    display: none

  &__name
    position: absolute
    color: $textColor
    top: 25px
    left: 25px
    font-size: 20px

    +wideScreen
      font-size: 30px

  &__play 
    font-size: 20px
    color: $textColor

    +wideScreen 
      font-size: 30px

  &__progress
    position: relative
    background: #ffffff70
    flex: 1 0 auto
    margin: 8px 1rem

    &-line 
      position: absolute
      top: 0
      left: 0
      height: 100% 
      width: 100%
      background: #ffffff
  
  &__timer 
    font-size: 20px

    +wideScreen 
      font-size: 30px

  

